microdados_enem2018.zip
microdados_enem2018/
DADOS/
"DICION\303\201RIO/"
INPUTS/
"LEIA-ME e DOCUMENTOS T\303\211CNICOS/"
PROVAS E GABARITOS/

## Partial datasets
X.csv
X_min.csv
X_ohe.csv
X_wo_in.csv


.ipynb_checkpoints/
y_ch.csv
y_cn.csv
y_lc.csv
y_mt.csv
y_red.csv

.ipynb_checkpoints/enem2018-checkpoint.ipynb
